{% extends "base.html" %}
{% block content %}
<div class="sign-up">
    <form method="POST">
        <div class="inputs">
            <h1>Login</h1>
            <div class="input">
                <label for="email">Email address</label>
                <input type="email" name="email" id="email" placeholder="pimpam@mail.com">
            </div>
            <div class="input">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="*****">
            </div>
        </div>
        <p>Forgot password? <a href="/reset-password">Reset</a></p>
        <button type="submit">Login</button>
        <a id="googlelogin" href="/googlelogin">Continue with Google</a>
        <p>Don't have an account yet? <a href="/sign-up">Sign up</a></p>
    </form>
</div>
{% endblock %}