{% extends "base.html" %}
{% block content %}
<div class="new-password">
    <form method="POST">
        <div class="inputs">
            <h1>Reset password</h1>
            <div class="input">
                <label for="password">New Password</label>
                <input type="password" name="password" id="password" placeholder="*******">
            </div>
            <div class="input">
                <label for="Confirmpassword">Confirm password</label>
                <input type="password" name="Confirmpassword" id="Confirmpassword">
            </div>
        </div>
        <p>Remember password? <a href="/login">Login</a></p>
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}