{% extends "base.html" %}
{% block content %}
<div class="sign-up">
    <form method="POST">
        <div class="inputs">
            <h1>Register</h1>
            <div class="input">
                <label for="name">Full name</label>
                <input type="text" name="fullname" id="fullname" placeholder="Pim Pam">
            </div>
            <div class="input">
                <label for="email">Email address</label>
                <input type="email" name="email" id="email" placeholder="pimpam@mail.com">
            </div>
            <div class="input">
                <label for="phone">Phone number</label>
                <input type="tel" name="phone" id="phone" placeholder="07000000000">
            </div>
            <div class="input">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="*****">
            </div>
            <div class="input">
                <label for="confirm_password">Confirm password</label>
                <input type="confirm_password" name="confirm_password" id="confirm_password" placeholder="*****">
            </div>
        </div>
        
        <button type="submit">Submit</button>  
        <p>Already have an account? <a href="/login">Login</a></p> 
        <button type="button">Sign up with Google</button>
    </form>
</div>
{% endblock %}
       