@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@300;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
/* font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif; */
body{
    width: 100vw;
    height: 100vh;
}
nav .nav-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em;
}
nav .nav-container .sign-link{
    display: flex;
    gap: 2em;
    
}
nav .nav-container .sign-link a{
    text-decoration: none;
    color: black;
    font-family: 'montserrat', sans-serif;
}

.alert{
    width: 50px;
    height: 30px;
    color: green;
}

.container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.sign-up{
    padding: 2em;
    width: 25em;
    height: auto;
    border: 2px solid #973432;
    border-radius: 10px;

}

h1{
    font-family: 'lora', serif;
    color:#973432;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    
}
p a{
    color: #973432;
    font-weight: 700;
    text-decoration: none;
}
label{
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: 700;
    color: gray;
}
.input{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
}
input{
    height: 2.5em;
    padding: 5px;
    border-radius: 5px;
    border: 0.5px solid lightgray;
    font-family: 'Montserrat', sans-serif;
    

}

form{
    display: flex;
    flex-direction: column;
}

form p{
margin-top: 5px;
}

form button{
    margin-top: 15px;
    padding: 0.6em;
    margin-bottom: 10px;
    border-style: none;
    background-color: #973432;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-family: 'lora', serif;
}

#googlelogin{
    background-color: blue;
    border-style: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: 'lora', serif;
    padding: 0.6em;
    text-align: center;
    text-decoration: none;
}
.home-container .banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-inline: 50px;
}
.home-container .banner h1{
    font-size: 50px;
}
.home-container .banner p{
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}